<?xml version="1.0" ?>
<launch>
  
  <arg name="model" default="$(find scenarios)/urdf/simple.urdf.xacro" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" args="_use_gui:=true"/>
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find scenarios)/launch/viz.rviz" required="true" />
  
</launch>

