<?xml version="1.0" ?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro '$(find scenarios)/urdf/scene.urdf.xacro'" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find scenarios)/launch/viz.rviz"/>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" args="_use_gui:=true"/>

</launch>

